.tableContainer {
    overflow-x: auto;
    margin-left: 6em;
}
.header {
    left: 0;
    width: 6em;
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
    border-right: 1px solid inherit;
}
/* .invisibleHeader {
    font-weight: bold;
    font-size: 1.2em;
    Hiding text
    text-indent: -999px;
    white-space: nowrap;
    overflow:hidden;
    
} */
.schedule {
    display: inline-block;
}
.courseListButton {
    width: 35px;
}

/*React table cell*/
.rt-td {
    border-bottom: 2px solid gray !important;
}

/*To show checkboxes in dropdown menu*/
.btn-group-toggle>.btn input[type=checkbox] {
    /* clip: unset !important;
    transform: translate(-27px, 5.5px); */
}

input .courseInput {
    min-width: 15em;
    min-height: 2em;
}

.courseInput {
    margin-right: 4px;
}

.nav-link {
    /* height: 1.5em !important;
    width: 2em !important; */
}