body {
    padding: 4px;
}
.tableContainer {
    overflow-x: auto;
    margin-left: 6em;
}
.header {
    left: 0;
    width: 6em;
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
    border-right: 1px solid inherit;
}
/* .invisibleHeader {
    font-weight: bold;
    font-size: 1.2em;
    Hiding text
    text-indent: -999px;
    white-space: nowrap;
    overflow:hidden;
    
} */
.schedule {
    display: inline-block;
}
.courseListButton {
    width: 35px;
}

/*For Desktop*/
@media only screen and (min-width: 768px) {
    .form-group {
        display: inline-block;
        width: auto;
        margin-right: 4px;
    }
    .input-button-group {
        display: inline-block;
    }
}




/*React table cell*/
.rt-td {
    border-bottom: 2px solid gray !important;
}

/*To show checkboxes in dropdown menu*/
/* .btn-group-toggle>.btn input[type=checkbox] {
    clip: unset !important;
    transform: translate(-27px, 5.5px);
} */

input .courseInput {
    min-width: 15em;
    min-height: 2em;
}

.courseInput {
    margin-right: 4px;
}

/* .nav-link {
    height: 1.5em !important;
    width: 2em !important;
} */

/*Odd table rows*/
.rt-tr.-odd {
    background: rgba(0, 0, 0, 0.13) !important;
}

.rt-tr.-odd:hover {
    background: rgba(0, 0, 0, 0.16) !important;
}

.rt-tr.-even:hover {
    background: rgba(0, 0, 0, 0, 0.07) !important;
}

/* .nav-link {
    cursor: pointer;
} */

/*Add pills by myself because using Nav.Link breaks things and Nav.Item doesn't have the nice style*/
/* .nav-item {
    background-color: #007bff;
    border-radius: 0.25rem
}
.active.nav-item {

} */