.tableContainer {
    overflow-x: auto;
    margin-left: 6em;
}
.header {
    left: 0;
    width: 6em;
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
    border-right: 1px solid inherit;
}
.invisibleHeader {
    font-weight: bold;
    font-size: 1.2em;
    /*Hiding text*/
    text-indent: -999px;
    white-space: nowrap;
    overflow:hidden;
    
}
.schedule {
    display: inline-block;
}

/*React table cell*/
.rt-td {
    border-bottom: 2px solid gray !important;
}

